{% extends 'base.html' %}

{% block head %} 
<title>Movies</title>
{% endblock %}

{% block body %} 
   <div class="content">
      <h1>Movies</h1>

      <table>
         <tr>
            <th>Movie</th>
            <th>Added</th>
            <th>Actions</th>
         </tr>
         {% for movie in movies %}
            <tr>
               <td>{{movie.name}}</td>
               <td>
                  <a href="/delete/{{movie._id}}">Delete</a>
                  <br>
                  <a href="/update/{{movie._id}}">Update</a>
               </td>
            </tr>
         {% endfor %}
      </table>

      <form action="/" method="POST">
         <input type="text" name="movie_content" id="movie_content">
         <input type="submit" value="Add Movie"> 
      </form>
   </div>
{% endblock %}